<mat-nav-list>
    <a routerLink="/home"> 
        <img src="./assets/img/l21Logo.png" style="margin-left: 10px; margin-top: 5px;">
     </a>    
     <mat-divider></mat-divider>
    <a mat-list-item routerLink="/leaderboard" routerLinkActive="active" class="menuItem"> CLASSEMENT </a>
    <a mat-list-item routerLink="/match" routerLinkActive="active" class="menuItem"> MATCH </a>
    <a mat-list-item routerLink="/stat" routerLinkActive="active" class="menuItem"> STATS </a>
    <mat-divider></mat-divider>
    <a mat-list-item class="menuItem" href="https://edhleague.be/" target="_blank"> INFOS </a>
    <a mat-list-item routerLink="/contact" routerLinkActive="active" class="menuItem"> CONTACT </a>
    <mat-divider></mat-divider>
</mat-nav-list>