<mat-nav-list>
    <img src="./assets/img/l21Logo.png" style="margin-left: 10px; margin-top: 5px;">
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/home" routerLinkActive="active" style="letter-spacing: .2rem;"> CLASSEMENT </a>
    <a mat-list-item routerLink="/match" routerLinkActive="active" style="letter-spacing: .2rem;"> MATCH </a>
    <a mat-list-item routerLink="/stat" routerLinkActive="active" style="letter-spacing: .2rem;"> STATS </a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/info" routerLinkActive="active" style="letter-spacing: .2rem;"> INFOS </a>
    <a mat-list-item routerLink="/contact" routerLinkActive="active" style="letter-spacing: .2rem;"> CONTACT </a>
    <mat-divider></mat-divider>
</mat-nav-list>