<section class="mat-typography">

    <div class="titleContainer">        
        <h1 class="pageTitle">Ligue EDH été 2021</h1>  
    </div>

    <mat-divider></mat-divider>

    <p>
        Ce site permet aux joueurs de la ligue de consulter leurs résultats.
    </p>    
    <p>
        <b>Navigation</b><br/>
        - Classement: Classement général <br />
        - Match: Historique complet des matchs  <br />
        - Stats: "Hall of fame" des joueurs... et un "Wall of shame". <br /> <br>
        Le réglement est disponible via le bouton "Info" du menu
    </p>  
    <p>
        Merci à tous pour votre participation.
    </p>
    <p>
        Le staff.
    </p>
</section>



