<section class="mat-typography">

    <div class="titleContainer">        
        <button mat-mini-fab style="display: inline; transform: scale(.8);">
            <fa-icon (click)="refreshGeneralRanking()" [icon]="faSync"></fa-icon>
        </button>      
        <h1 style="display: inline; text-transform: uppercase; font-size: 23px; margin-top: 10px; vertical-align: middle;">Classement général</h1>  
    </div>


    <mat-divider></mat-divider><br />
    <table mat-table [dataSource]="rankings" class="mat-elevation-z8 mat-table table">
        <!-- Position Column -->
        <ng-container matColumnDef="Rank">
            <th mat-header-cell *matHeaderCellDef> Classement </th>
            <td mat-cell *matCellDef="let element" [ngClass]="{'gold' : element.Rank == 1, 'silver' : element.Rank == 2, 'bronze' : element.Rank == 3}"> 
                <fa-icon *ngIf="element.rank <= 3" [icon]="faTrophy"></fa-icon>
                {{element.Rank}} 
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef> Joueur </th>
            <td mat-cell *matCellDef="let element" [ngClass]="{'gold' : element.Rank == 1, 'silver' : element.Rank == 2, 'bronze' : element.Rank == 3}"> {{element.Name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="Score">
            <th mat-header-cell *matHeaderCellDef> Total </th>
            <td mat-cell *matCellDef="let element" [ngClass]="{'gold' : element.Rank == 1, 'silver' : element.Rank == 2, 'bronze' : element.Rank == 3}"> {{element.Score}} pts.</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['Rank', 'Name', 'Score']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['Rank', 'Name', 'Score']"></tr>
    </table>
</section>



