<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')">
        <app-menu></app-menu>
    </mat-sidenav>
    <mat-sidenav-content>        
        <div style="width: 96%; margin: 2%; display: block;">
            <app-home ></app-home>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

<div class="menuToggle">
    <p>
        <button mat-fab color="primary" aria-label="Ouvrir le menu" (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
    </p>
</div>