.table {
    width: 100%;
    max-width: 700px;
  }

.mat-column-rank {
    width: 50px;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
}

.mat-column-name {
    padding-left: 10px ;
}
  
.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-row:hover .mat-cell {
    border-color: currentColor;
}